body{
							font-size: #333333;
							color: #333333;
					}
	p{
							font-size: 18px;
							color: #333333;
					}
	h1,.h1{
					font-family: Titillium Web;
							font-size: 45px;
							color: #333333;
					}
	h2,.h2{
					font-family: Titillium Web;
							font-size: 35px;
							color: #333333;
					}
	h3,.h3{
					font-family: Titillium Web;
							font-size: 25px;
							color: #333333;
					}
	h4,.h4{
					font-family: Titillium Web;
							font-size: 20px;
							color: #333333;
					}
	h5,.h5{
					font-family: Titillium Web;
							font-size: 18px;
							color: #333333;
					}
	h6,.h6{
					font-family: Titillium Web;
							font-size: 16px;
							color: #333333;
					}
	a{
					font-family: Titillium Web;
									color: #333333;
					}




	
	p {
    font-family: Titillium Web;
    line-height: 25px;
}
.submit-btn {
    background-color: #D74680;
    border-color: #D74680;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 21px 90px;
    text-transform: uppercase;
}
.widget-cat-list ul li a {
    font-size: 20px;
}

.footer-ul ul li a {
    padding: 16px 25px;
    color: #fff;
    font-size: 19px;
    font-weight: 900;
}
.footer-ul ul li {
    list-style-type: none;
    display: inline-block;
     margin-top:10px;
}


.footer-ul {
    width: 100%;
    text-align: center;
}
.footer-ul ul li a:hover {
    color: #30abdb;
}


.btn-primary {
    padding: 26px 69px;
    font-weight: 600;
    background-color: #17c2a4;
    border: 0;
    border-radius: 5px;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(12,112,94,1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(12,112,94,1);
    box-shadow: 0px 4px 5px 0px rgb(30, 111, 94);
}
ul li .btn-default {
    width: 95px;
    font-size: 13px;
    font-weight: 700;
    border: none;
    background: #ebc985;
}


.footer-ul ul li a {
    padding: 14px 7px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.btn-warning {
    border: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 22px 72px;
    border-radius: 7px;
}


textarea.form-control {
    min-height: 150px;
}
.navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover, .navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li:hover > a {
     background-color: transparent;
     color: #fff;
}

.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li a:hover {
    color: #ffffff;
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li:hover > a{
 color: #fff;
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav{
margin-top:10px;
}
.back-to-top {
    background: #BB509C;
}
.widget-cat-team-profile img:hover {
    filter: grayscale(0);
}
.widget-cat-team-profile img {
    filter: grayscale(100%);
}

.counter-container {
    display: inline-block;
    margin: 40px;
}
.animated-counter {
    text-align: center;
}


/*----Contact Us Page-----*/
.widget-cat-list i.fa {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #000;
    font-size: 50px;
    border: 1px solid #000;
    border-radius: 50%;
}
.widget-cat-list ul {
 padding-left:0px;
}
.widget-cat-list ul li {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    margin-bottom:10px;
    
}
.widget-cat-list ul li i.fa {
    width: unset;
    height: unset;
    line-height: unset;
    color: #000;
    font-size: 22px;
    border: unset;
    border-radius: unset;
}
.widget-cat-list ul li a {
    font-size: 20px;
    color:#000;
}
.embed-responsive{
 margin-top:0px;
 margin-bottom:0px;
}

.counter-container:nth-child(1) .progressbar-text:after {
    content: "WEB DESIGN";
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    top: 192%;
    right: -30%;
    transform: translate(10%, -14%);
}
.counter-container:nth-child(2) .progressbar-text:after {
   content: "Html/Css";
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    top: 192%;
    right: -30%;
    transform: translate(20%, -14%);
}
.counter-container:nth-child(3) .progressbar-text:after {
    content: "GRAPHICS DESIGN";
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    top: 192%;
    right: -30%;
    transform: translate(20%, -14%);
}
.counter-container:nth-child(4) .progressbar-text:after {
    content: "UI/UX DESIGN";
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    top: 192%;
    right: -30%;
    transform: translate(10%, -14%);
}
.isotope_gallery_widget.hasfilter.loaded .isotope-filter {
   
    text-align: center;
}
.grid figure{
	 background: transparent !important;
}
.isotope-filter li a {
    padding: 10px 31px;
    background: #d3d3d3;
    text-transform: uppercase;
    font-weight: 800;
}
.is-social a i.fa:hover {
    background: #4c66a4;
    color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.is-social a i.fa {
    font-size: 0.8em;
    background: #ccc;
    padding: 10px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    margin: 3px auto;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.widget-cat-quotes .col-md-4 img {
    background: #787878;
    padding: 10px;
    border-radius: 100% !important;
    margin-right: 50px !important;
    margin-bottom: 50px !important;
}

	.button_3750412{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:#d74680;background-image:none;color:#ffffff;font-family:Titillium Web;font-size:14px;line-height:22px;letter-spacing:1px;text-transform:uppercase;font-weight:600;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding-left:90px;padding-right:90px;padding-top:21px;padding-bottom:21px;display:inline-block;}.button_3750412:hover{background-color:#d74680;background-image:none;color:#000000;font-family:Titillium Web;font-size:14px;line-height:22px;letter-spacing:1px;text-transform:uppercase;font-weight:600;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding-left:90px;padding-right:90px;padding-top:21px;padding-bottom:21px;}.button_2046901{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:#f0ad4e;background-image:none;color:#ffffff;font-family:Titillium Web;font-size:18px;line-height:32px;text-transform:uppercase;font-weight:600;border-top-left-radius:7px;border-top-right-radius:7px;border-bottom-left-radius:7px;border-bottom-right-radius:7px;padding-left:72px;padding-right:72px;padding-top:22px;padding-bottom:22px;display:inline-block;}.button_2046901:hover{background-color:#f0ad4e;background-image:none;color:#ffffff;font-family:Titillium Web;font-size:18px;line-height:32px;text-transform:uppercase;font-weight:600;border-top-left-radius:7px;border-top-right-radius:7px;border-bottom-left-radius:7px;border-bottom-right-radius:7px;padding-left:72px;padding-right:72px;padding-top:22px;padding-bottom:22px;}
.navbar-custom{
		background-color:rgba(47,17,112,0);
}

.navbar-toggle{
	background-color:rgba(70,81,184,0.88);
}
.header3 .slide-toggle span,.header4 .slide-toggle span{
	
}
.navbar-custom .navbar-nav li a{
	background-color:rgba(255,255,255,0);
	color:rgba(255,255,255,1);
}
.navbar-custom .navbar-nav li:hover > a{
	background-color:rgba(61,72,82,0.76);
	color:rgba(255,255,255,0.5);
}
.navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover, .navbar-custom .navbar-nav li.active a{
	background-color:rgba(61,72,82,0.76);
	color:rgba(255,255,255,0.5);
}
.navbar-custom .navbar-nav li ul.sub-menu li a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,1);
}
.navbar-custom .navbar-nav li ul.sub-menu li:hover > a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.navbar-custom .nav li ul.sub-menu li a:focus, .navbar-custom .nav li ul.sub-menu li.active a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.sticky-wrapper.is-sticky .navbar-custom{
	background-color:#273a71;
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li a{
	color:#ffffff;
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li:hover > a{
	color:rgba(0,0,0,1);
}
.header3 .sliding .sliding-menu,.header4 .sliding .sliding-menu{
	background-color:#eaeaea
}
@media (max-width: 768px){
	.navbar-collapse{
		background-color:rgba(0,0,0,0);
	}
}
